{*** 목록 | list.php ***}
<!--{?bdList.cfg.bdHeader && !inList}-->
<div class="admin-wrap">
    <p>{bdList.cfg.bdHeader}</p>
</div>
<!--{/}-->
<div class="section m3">
    <div class="section-header bd">
        <h2 class="h2">{=__(bdList.cfg.bdNm)}</h2>
    </div>
    <div class="section-body m2">
        <div class="table1 type2" align="{bdList.cfg.bdAlign}">
            <table {bdList.cfg.bdWidthStyle}>
                <!--{?bdList.noticeList}-->
                <colgroup>
                    <col style="width:60px">
                    <!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
                    <col style="width:80px">
                    <!--{/}-->
                    <col>
                    <col style="width:100px">
                    <col style="width:80px">
                    <!--{ ? bdList.cfg.bdPcHitFl == 'y'}-->
                    <col style="width:60px">
                    <!--{/}-->
                </colgroup>
                <thead>
                <tr>
                    <th>{=__('번호')}</th>
                    <!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
                    <th>{=__('말머리')}</th>
                    <!--{/}-->
                    <th>{=__('제목')}</th>
                    <th>{=__('날짜')}</th>
                    <th>{=__('작성자')}</th>
                    <!--{ ? bdList.cfg.bdPcHitFl == 'y'}-->
                    <th>{=__('조회')}</th>
                    <!--{/}-->
                </tr>
                </thead>
                <!--{/}-->
                <tbody>
                <!--{ @ bdList.noticeList }-->
                <tr class="notice-item">
                    <td class="ta-c"><img src="{bdList.cfg.iconImage.notice.url}" alt="{=__('공지')}"/></td>
                    <!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
                    <td class="c-gray ta-c">
                        <!--{? .category }-->[{.category}]<!--{/}-->
                    </td>
                    <!--{/}-->
                    <td>
                        <a href="javascript:btnView('{req.bdId}',{.sno} , '{.auth.view}')" class="c-red"><b>{.subject}</b></a>
                        <!--{? bdList.cfg.bdMemoFl == 'y' && .memoCnt>0}-->
                        <b>({.memoCnt})</b>
                        <!--{ / }-->
                    </td>
                    <td class="c-gray ta-c">
                        {.regDate}
                    </td>
                    <td class="c-gray ta-c">
                        {.writer}
                    </td>
                    <!--{ ? bdList.cfg.bdPcHitFl == 'y'}-->
                    <td class="c-gray ta-c">
                        {.hit}
                    </td>
                    <!--{/}-->
                </tr>
                <!--{/}-->
                </tbody>
            </table>
        </div>
        <!--{ ? !inList}-->
        <div class="board-sorting clear">
            <ul>
                <li><a href="list.php?bdId={req.bdId}&period=all" <!--{?req.period == 'all'}-->class="active"<!--{/}-->>{=__('전체')}({=bdList.cnt.totalEventCount})</a></li>
                <li><a href="list.php?bdId={req.bdId}&period=current" <!--{?req.period == 'current'}-->class="active"<!--{/}-->>{=__('진행중 이벤트')}({=bdList.cnt.currentEventCount})</a></li>
                <li><a href="list.php?bdId={req.bdId}&period=end" <!--{?req.period == 'end'}-->class="active"<!--{/}-->>{=__('종료된 이벤트')}({=bdList.cnt.endEventCount})</a></li>
            </ul>
        </div>
        <!--{/}-->
        <div class="list-event m2" align="{bdList.cfg.bdAlign}" {bdList.cfg.bdWidthStyle}>
            <ul>
                <!--{? bdList.list}-->
                <!--{ @ bdList.list }-->
                <li class="list-item" {bdList.cfg.bdHeightStyle}>
                    <a href="javascript:btnView('{req.bdId}',{.sno} , '{.auth.view}')">
                        <img src="{=gd_isset(.viewListImage, 'img/etc/noimg.png')}" width="{bdList.cfg.bdListImgWidth}" height="{bdList.cfg.bdListImgHeight}" class="js-image-load" />
                    </a>
                    <div class="list-item-info">
                        <!--{ ? bdList.cfg.bdCategoryFl == 'y' && .category}-->
                        <p class="text1">[{.category}]</p>
                        <!--{/}-->
                        <p class="text2">
                            <!--{ ? .isSecret == 'y' }-->
                            <img src="{bdList.cfg.iconImage.secret.url}" align=absmiddle>
                            <!--{ / }-->
                            <a href="javascript:btnView('{req.bdId}',{.sno} , '{.auth.view}')">{.subject}</a>
                            <!--{? bdList.cfg.bdMemoFl == 'y' && .memoCnt>0}-->
                            <span class="span">({.memoCnt})</span></p>
                            <!--{ ? .isFile == 'y' }-->
                            <img src="{bdList.cfg.iconImage.attach_file.url}" alt="{=__('파일첨부 있음')}"/>
                            <!--{/}-->
                            <!--{ ? .isImage == 'y' }-->
                            <img src="{bdList.cfg.iconImage.attach_img.url}" alt="{=__('이미지첨부 있음')}"/>
                            <!--{/}-->
                            <!--{ ? .isNew == 'y' }-->
                            <img src="{bdList.cfg.iconImage.new.url}" alt="{=__('신규 등록글')}"/>
                            <!--{/}-->
                            <!--{ ? .isHot == 'y' }-->
                            <img src="{bdList.cfg.iconImage.hot.url}" alt="{=__('인기글')}"/>
                            <!--{/}-->
                        <!--{/}-->
                        <!--{ ? bdList.cfg.bdSubSubjectFl == 'y' && .subSubject}-->
                        <p class="text3">{.subSubject} </p>
                        <!--{/}-->
                        <!--{ ? .eventStart != '' && .eventEnd != '' }-->
                        <p class="text4 c-red"><b>{=__('이벤트기간')}</b> {.eventStart}~{.eventEnd}</p>
                        <!--{/}-->
                        <p class="text5 c-gray">
                            <!--{ ? bdList.cfg.bdPcHitFl == 'y'}-->{=__('조회')}  {.hit}<!--{/}--> <!--{ ? bdList.cfg.bdRecommendFl == 'y'}--> | {=__('추천')} {.recommend} <!--{/}-->
                        </p>
                    </div>
                </li>
                <!--{/}-->
                <!--{:}-->
                <li class="list-item center" {bdList.cfg.bdHeightStyle}>
                    {=__('게시글이 존재하지 않습니다.')}
                </li>
                <!--{/}-->
            </ul>
        </div>
        {bdList.pagination}
        <form name="frmList" id="frmList" action="list.php" method="get">
            <input type="hidden" name="bdId" value="{bdList.cfg.bdId}">
            <input type="hidden" name="memNo" value="{req.memNo}"/>
            <input type="hidden" name="noheader" value="{req.noheader}"/>

            <div class="search-box m3 ta-c">
                <div class="item">
                    <div class="st-hs">
                        <!--{ ? bdList.cfg.bdCategoryFl == 'y'}-->
                        {=gd_select_box('category', 'category', bdList.cfg.arrCategory, null, gd_isset(req.category), __('=선택='), 'style="width: 80px;"','tune')}
                        <!--{/}-->
                    </div>
                </div>
                <div class="item">
                    <div class="st-hs">
                        <select name="searchField" class="tune" style="width:80px;">
                            <option value="writerNm"
                            <!--{ ? req.searchField == 'writerNm'}-->selected<!--{/}--> >{=__('이름')}</option>
                            <option value="subject"
                            <!--{ ? req.searchField == 'subject'}-->selected<!--{/}--> >{=__('제목')}</option>
                            <option value="contents"
                            <!--{ ? req.searchField == 'contents'}-->selected<!--{/}--> >{=__('내용')}</option>
                        </select>
                    </div>
                </div>
                <div class="item">
                    <div class="txt-field hs" style="width:210px;">
                        <input type="text" class="text" name="searchWord" value="{=req.searchWord}">
                    </div>
                </div>
                <div class="item">
                    <button class="skinbtn.base2.boardlist-search" tyle="submit"><em>{=__('검색')}</em></button>
                </div>
            </div>
        </form>
    </div>
    <!--{?bdList.cfg.bdFooter && !inList}-->
    <div class="admin-wrap">
        <p>{=bdList.cfg.bdFooter}</p>
    </div>
    <!--{/}-->
</div>
<form id="frmWritePassword">
    <div class="cite-layer dn js-list-password-layer">
        <div class="wrap">
            <h4>{=__('비밀번호 인증')}</h4>
            <div>
                <p>{=__('비밀번호를 입력해 주세요.')}</p>
                <input type="password" name="writerPw" class="text"/>
                <a href="javascript:void(0)" class="skinbtn base2 boardlist-submit js-submit"><em>{=__('확인')}</em></a>
            </div>
            <button type="button" class="close" title="{=__('닫기')}">{=__('닫기')}</button>
        </div>
    </div>
</form>
<div id="layerDim" class="dn">&nbsp;</div>
<script type="text/javascript" src="\{=c.PATH_SKIN}js/gd_board_list.js" charset="utf-8"></script>
<script>
    $(document).ready(function () {
        $('img.js-image-load').error(function () {
            $(this).css('background', 'url("img/etc/noimg.png") no-repeat center center');
            $(this).attr('src', '../../../img/etc/blank.gif');
        })
            .each(function () {
                $(this).attr("src", $(this).attr("src"));
            })

        $('.board-sorting ul li a').on('click', function(){
            if ($('iframe[name=ifrmBoard]', window.parent.document).length > 0) {
                var words = $(this).attr('href').split('&');
                var result = words[1].split('=');
                var period = result[1];

                if (period == 'all') {
                    $('iframe[name=ifrmBoard]', window.parent.document).attr('src', '../board/list.php?bdId={req.bdId}&noheader=y&period=all');
                } else if (period == 'current') {
                    $('iframe[name=ifrmBoard]', window.parent.document).attr('src', '../board/list.php?bdId={req.bdId}&noheader=y&period=current');
                } else if (period == 'end') {
                    $('iframe[name=ifrmBoard]', window.parent.document).attr('src', '../board/list.php?bdId={req.bdId}&noheader=y&period=end');
                }
                return false;
            }
        })

    });
</script>
