@charset "UTF-8";

.sprite-icon {
    background-image: url(../img/icon/sprite-icon.png);
    background-repeat: no-repeat;
    background-size: 400px 300px;
    -webkit-background-size: 400px 300px;
    height: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}
.icon-exclamationmark{
    width: 14px;
    height: 14px;
    background-position: -224px -223px;
}

.icon-list {
    background-position: 0 -125px;
    width: 16px;
    padding-top: 16px
}

.icon-one {
    background-position: -25px -125px;
    width: 16px;
    padding-top: 16px
}

.icon-grid1 {
    background-position: -50px -125px;
    width: 16px;
    padding-top: 16px
}

.icon-document {
    background-position: 0 -50px;
    width: 25px;
    padding-top: 25px
}
.icon-cancel{
    background-position: -75px -50px;
    width: 25px;
    padding-top: 25px;
}
.icon-refund{
    background-position: -75px -75px;
    width: 25px;
    padding-top: 25px;
}
.icon-human{
    background-position: -75px -100px;
    width: 25px;
    padding-top: 25px;
}
.icon-hackout{
    background-position: -150px -100px;
    width: 25px;
    padding-top: 25px;
}
.icon-bag {
    background-position: 0 -75px;
    width: 25px;
    padding-top: 25px
}

.icon-heart {
    background-position: -50px -75px;
    width: 25px;
    padding-top: 25px
}

.icon-eye {
    background-position: -246px -244px;
    width: 25px;
    padding-top: 25px;
}

.icon-ticket {
    background-position: -50px -50px;
    width: 25px;
    padding-top: 25px
}

.icon-token {
    background-position: -25px -50px;
    width: 25px;
    padding-top: 25px
}

.icon-headset {
    background-position: -270px -247px;
    width: 25px;
    padding-top: 25px;
}

.icon-camera {
    background-position: -25px -100px;
    width: 25px;
    padding-top: 25px
}

.icon-balloon {
    background-position: -50px -100px;
    width: 25px;
    padding-top: 25px
}

.icon-wallet{
    background-position: -100px -100px;
    width: 25px;
    padding-top: 25px;
}
.icon-coupon2 {
    background-position: -50px -200px;
    width: 30px;
    height: 30px;
}
.icon-headset2{
    background-position: -125px -100px;
    width: 25px;
    padding-top: 25px;
}
.icon-wallet2 {
    background-position: -80px -200px;
    width: 30px;
    height: 30px;
}

.icon-coin2 {
    background-position: -110px -200px;
    width: 30px;
    height: 30px;
}
.icon-folder{
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}
.icon-check-red{
    width: 13px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}
.icon-wallet-red,
.icon-coin-red,
.icon-coupon-red{
    width: 29px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
}
.icon-coupon-img{
    width: 38px;
    height: 38px;
    vertical-align: middle;
}
.icon-coupon-s{
    width: 32px;
    height:22px;
    vertical-align: middle;
}
.icon-timesale{
    width: 15px;
    height: 15px;
    vertical-align: -3px;
}
.icon-shipping{
    background-position:-99px -73px;
    width: 25px;
    padding-top:25px;
    vertical-align:-6px;
}
.text-npay{
    width: 52px;
    height: 20px;
}
